<h1>Contact Us</h1>
<div class='contact'>
  <div class='name'>Captain John Sinning</div>
  <div class='adddress'>PO Box 724, Southold, NY 11971
  <div class='phone'>(631) 765-2227</div>
  <div class='email'><%= mail_to 'jsinning@optonline.net' %>
</div>
