// Place all the styles related to the bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
main.bookings {
  h2 {
    font-size:1.75em;
    margin:1em 0;
  }
  a {
    padding:0.25em 0.5em;
    background:#eee;
    border:1px solid #ccc;
  }
}
