// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
main.contact .contact {
  line-height:1.5em;
  text-align:center;
  .name {
    font-weight:bold;
    font-size:1.5em;
    margin-bottom:0.5em;
  }
  .email {
    text-decoration:underline;
  }
}
