// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
main.home {
  p {
    margin:1em;
    font-size:0.97em;
  }
  img {
    float:left;
    height:500px;
    margin:0;
    padding:6px;
    border:1px solid #ccc;
    background:white;
    margin-right:1em;
  }
}
