// Place all the styles related to the info controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
main.info {
  .table-of-contents {
    margin-top:1em;
    font-size:0.6em;
    li {
      margin-left:2em;
    }
    a {
      display:inline-block;
      font-family:'bebas';
      //padding:0.25em 0.5em;
      font-size:1.2em;
      font-size:1.75em;
      font-weight:bold;
      text-decoration:underline;
      &:hover {
        color:red;
      }
    }
  }
  > div {
    font-size:0.8em;
    line-height:1.5em;
    margin:1em 0;
    padding-top:2em;
  }
  ul, dl, p {
    margin:1em;
  }
  li {
    margin:0.5em;
  }
  h2 {
    font-size:2em;
    border-bottom:0.1em solid black;
  }
  dl dd {
    margin-left:1.5em;
  }
  dl dt {
    display:inline-block;
    text-transform:capitalize;
    font-weight:bold;
    margin:1.25em 0 0 0;
    font-family:'droid sans';
    font-size:1.25em;
    &:first-child {
      margin-top:0.25em;
    }
  }
  #important-information {

  }
  #what-to-bring {
    dl {
      dt {
        color:rgb(50,200,50);
        &:before {
          font-family:'pictos';
          content:'2';
          color:green;
          margin-right:0.25em;
        }
      }
    }
  }
  #what-not-to-bring {
    dl {
      dt {
        color:rgb(200,50,50);
        &:before {
          font-family:'pictos';
          content:'*';
          color:red;
          margin-right:0.25em;
        }
      }
    }
  }
  #weather {
    a {
      margin-left:2em;
      background:#eee;
      padding:0.5em;
      border:1px solid #ccc;
    }
  }
  #preparing-your-catch {
    a {
      background:#eee;
      padding:0.25em;
    }
  }
}
