// Place all the styles related to the rates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
main.rates {
  .boat-name, .boat-passengers {
    display:inline-block;
  }
  .boat-name {
    font-weight:bold;
    font-size:1.25em;
  }
  .boat-image {
    margin:0.5em 1em 0 0;
    display:block;
    float: left;
    width: 300px;
    padding: 6px;
    border: 1px solid #ccc;
    background: whiteSmoke;
    img {
      border:1px solid #aaa;
    }
    figcaption {
      text-align:center;
      font-family:'droid sans';
      font-size:13px;
      color:#555;
    }
  }
  .rate-group {
    padding:0.5em;
    //background:whiteSmoke;
    //border: 1px solid #ccc;
    margin-bottom:2em;
  }
  .rate {
    padding:0.5em 0.75em;
    font-size:0.9em;
    font-family:'droid sans';
    display:block;
    margin:0.6em 0 0.25em 0;
    background:white;
    border:1px solid #ccc;
    display:inline-block;
    .service, .price {
      display:inline-block;
      vertical-align:middle;
    }
    .service {
      .service-name, .service-duration {
        display:inline-block;
      }
      .service-name {
        font-weight:bold;
        margin:0.25em 0.25em 0.25em 0;
      }
      .service-duration, .service-departure-time {
        color:#666;
        font-size:0.8em;
      }
      .service-departure-time {
        //font-style:italic;
        &:after {
          content:'**';
          vertical-align:top;
          font-size:0.7em;
          position:relative;
        }
      }
      width:350px;
      //white-space:pre-line;
    }
    .price {
      text-align:left;
      padding:0;
      color:#666;
      font-size:0.7em;
      .price-value, .pax-price-value {
        font-size:1.3em;
        display:inline-block;
        width:100px;
        text-align:right;
        //font-weight:bold;
        color:rgb(60,200,60);
        margin-right:0.25em;
        &:before {
          content:'$';
        }
        &:after {
          content:'*';
          vertical-align:top;
          font-size:0.7em;
        }
      }
      .pax-price-value {
        opacity:0.75;
      }
    }
  }
  .disclaimers {
    font-size:0.75em;
    div {
      margin:1em;
    }
  }
}
