<h1>Rates</h1>
<%= render @rates %>
<div class='disclaimers'>
  <div id='gratuity-disclaimer'>
    * It is customary for the mate to receive a 15%-20% gratuity.the gratuity is not included in the above rates.
  </div>
  <div id='departure-disclaimer'>
    ** The Captain, at his discretion, may choose to move the departure time for the purposes such as fishing a particular tide, the weather or to accommodate a charter’s request.
  </div>
</div>
